<%- include head.ejs %>

<%- include('navigation_bar.ejs', {show_login: 1}) %>

<div class="head">
    <h1>Benvingut a la <%= nm %></h1>
</div>

<!-- LOGIN FORM -->
<div id="login" class="modal">

      <form class="modal-content animate" action="auth" method="POST">

        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input required type="text" placeholder="Enter Username" name="uname" >
          <label for="psw"><b>Password</b></label>
          <input required type="password" placeholder="Enter Password" name="pwd">
          <button type="submit">Login</button>
        </div>
      </form>
</div>

<!-- REGISTER FORM -->
<div id="register" class="modal">

    <form class="modal-content animate" action="auth/register" method="POST">

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input required type="text" placeholder="Enter Username" name="uname" >

            <label for="email"><b>Email</b></label>
            <input required type="text" placeholder="Enter email" name="email" >

            <label for="psw"><b>Password</b></label>
            <input required type="password" placeholder="Enter Password" name="pwd">

            <button type="submit">Register</button>
        </div>
    </form>
</div>

<div class="space"></div>

<div class="control-container">
    <div class="control">
        <div class="control-switch">
            <label class="control-label">Motors</label>
            <label class="switch">
                <input type="checkbox" onchange="handleCheckbox(this, 0)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="control-switch">
            <label class="control-label">ICOM</label>
            <label class="switch">
                <input type="checkbox" onchange="handleCheckbox(this, 1)">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="control-switch">
            <label class="control-label">Relés</label>
            <label class="switch">
                <input type="checkbox" onchange="handleCheckbox(this, 2)">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="control-buttons">
        <div class="control-button">
            <label>Uplink</label>
            <button type="button" class="btn-add">
                +
            </button>
            <input type="text" class="input-counter" value=0 disabled>
            <button type="button" class="btn-subtract">
                -
            </button>
        </div>
        <div class="control-button">
            <label>Downlink</label>
            <button type="button" class="btn-add">
                +
            </button>
            <input type="text" class="input-counter" value=0 disabled>
            <button type="button" class="btn-subtract">
                -
            </button>
        </div>
        <div class="control-button">
            <label>Offset</label>
            <button type="button" class="btn-add">
                +
            </button>
            <input type="text" class="input-counter" value=0 disabled>
            <button type="button" class="btn-subtract">
                -
            </button>
        </div>
    </div>
</div>

<%- include foot.ejs %>


